body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

form {
    margin-top: 30px;
}

input, select {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
   
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    display: none;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
}
